.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  padding: 10px;
  background-color: rgb(5, 54, 54);
  margin-right: 10px;
  border: none;
  box-shadow: 2px 2px 2px 0px ;
  border-radius: 8px;
  color: white;
}

.btn:hover {
  cursor: pointer;
}